*.serial
*.sql
*.html
backup
*.gz
*.tar.gz
.bash_history
.idea/
.php-cs-fixer.cache
.phpintel
.phpunit.result.cache
.phpunit.cache/
.scannerwork/
.viminfo
.DS_Store
/public/*.csv
/public/.htaccess
/Highlight/.php-cs-fixer.dist.php
backup.zip
CHANGELOG.md
CONTRIBUTING.md
error.log
LICENSE.md
permissionLoader.php
phpunit.html
psalmCommitErrors.txt
test.xml
tmp/
logs/
/vendor/
composer.phar
/Flow/Mongo
/PHPFUI/InstaDoc/Tests/
zoho
.vscode/
mago.errors
Cobian Reflector upload test.txt
